
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > h1 {
  font-size: 22;
  font-family: 'Courier New', Courier, monospace;
}